.navbar {
  background-color: #333; 
  color: #fff; 
}

.navbar .nav-link {
  color: #fff; 
}

.navbar .navbar-brand {
  font-size: 24px; 
}


body {
margin: 0;
padding: 0;
display: flex;
justify-content: center; 
align-items: center; 
min-height: 100vh; 
}
#root {
  
  padding: 2rem;
  width:100%;
  height: 100vh;
}

.CardFull {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
}
.CardFull .card {
  flex-basis: calc(25% - 1rem); 
  margin-bottom: 1rem;
}
.Page1Card {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}
.FullHome {
  background-image: url('https://a-z-animals.com/media/2023/03/zoysiza-grass-1024x768.jpg');
  border-radius: 30px;
  padding: 20px;
  height: 800px;
}
.homeTitle{
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: purple;
  font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
  font-size: 24px;

}
html,body {
  background-image: url('https://media.istockphoto.com/id/165764194/vector/gardening-wallpaper-background.jpg?s=612x612&w=0&k=20&c=35X1Nqop6tJTBVWI4L-5NRekskyu2LcOrn_Gk4tnNxE=');

 background-color: green;
}


.cont {
background-color: rgb(8, 8, 8);
width: 50px;
height: 50px;
color: blue;
}

/* Home.css */


.header {
  /* background-image: url('https://a-z-animals.com/media/2023/03/zoysiza-grass-1024x768.jpg'); */
  border-radius: 30px;
  padding: 20px;
}

.Sababu-info {
  background-color: purple;
border-radius: 200px;
font-size: 30px;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  
}
/* NewsContext CSS */
.news-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(191, 79, 191);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.news-list {
  color: black;
  padding: 0;
}

.news-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(87, 202, 87);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}


.news-item img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: green;
}


.PlantFacts {
  text-align: center; 
  background-color: #FF5733; 
  color: #FFF; 
  padding: 10px; 
}
.learn {
  background-color: #333;
}
.app-container {
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  padding: 20px;
  max-width: 400px; 
  width: 100%; 
}
.card {
  background-color: #FF5733;
}
.weather-container {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  align-self: flex-end;
  max-width: 220px;
  margin-left: auto;
  margin-top: 20px;
  max-height: 150px; 
  overflow-y: auto; 
}


.weather-title {
  font-size: 18px;
  align-self: flex-end;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: fit-content;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.city-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.city-input {
  padding: 5px;
  font-size: 14px;
  width: 100px; 
  margin-bottom: 5px;
}

.get-weather-button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.weather-details {
  margin-top: 10px;
  font-size: 14px;
  text-align: right;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.weather-city {
  font-weight: bold;
}





